* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background: linear-gradient(45deg, rgb(5, 114, 38), rgb(53, 173, 6));
    border: 1px solid #fff;
    border-radius: 10px;
}

#mypassword {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    
}